
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <base href="http://oleksenko.com.ua/stolyi-transformeryi.html" />
    <title>Столы трансформеры Киев, купить стол трансформер с доставкой</title>
    <meta name="description" content="В нашем интернет-магазине Вы можете купить столы трансформеры с доставкой по всей Украине. Столы трансформеры – это наилучшее решение для таких помещений в доме как гостиная, небольшая кухня или столовая." />
    <link href="/stolyi-transformeryi.html" rel="canonical" />
    <link href="/templates/deea/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="/components/com_virtuemart/assets/css/facebox.css" type="text/css" />
    <link rel="stylesheet" href="/media/system/css/modal.css" type="text/css" />
    <link rel="stylesheet" href="http://oleksenko.com.ua/plugins/content/vrvote/assets/vrvote.css" type="text/css" />
    <script src="/components/com_virtuemart/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/components/com_virtuemart/assets/js/jquery.noConflict.js" type="text/javascript"></script>
    <script src="/components/com_virtuemart/assets/js/facebox.js" type="text/javascript"></script>
    <script src="/components/com_virtuemart/assets/js/vmprices.js" type="text/javascript"></script>
    <script src="/media/system/js/mootools-core.js" type="text/javascript"></script>
    <script src="/media/system/js/modal.js" type="text/javascript"></script>
    <script src="http://oleksenko.com.ua/plugins/content/vrvote/assets/vrvote.js" type="text/javascript"></script>
    <script src="/media/system/js/mootools-more.js" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        vmSiteurl = 'http://oleksenko.com.ua/' ;
        vmLang = '&amp;lang=ru' ;
        Virtuemart.addtocart_popup = '1' ;
        vmCartText = ' %2$s x %1$s добавлен в Вашу корзину.' ;
        vmCartError = 'Ошибка обновления корзины' ;
        loadingImage = '/components/com_virtuemart/assets/images/facebox/loading.gif' ;
        closeImage = '/components/com_virtuemart/assets/images/fancybox/fancy_close.png' ;
        usefancy = false;
        //]]>






































        window.addEvent('domready', function() {

            SqueezeBox.initialize({});
            SqueezeBox.assign($$('a.modal'), {
                parse: 'rel'
            });
        });
        jQuery(document).ready(function () {
            jQuery('.orderlistcontainer').hover(
                    function() { jQuery(this).find('.orderlist').stop().show()},
                    function() { jQuery(this).find('.orderlist').stop().hide()}
            )
        });

    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/templates/deea/assets/dist/css/bootstrap.css" type="text/css" media="screen" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
    </script>
    <![endif]-->
    <script src="/templates/deea/js/product.min.js"></script>
    <link rel="apple-touch-icon-precomposed" href="//templates/deea/assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body >
<header>
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
                <div class="sidebar">
                    <div class="logo"><a href="/"><img src="/images/stories/logo.jpg" alt="Столы и стулья для кухни - ЧП Олексенко"></a></div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7  col-sm-6 hidden-xs ">
                <div class="phone">
                    <span>Звоните нам: </span><br />
                    <span><b class="life"></b>(063) 5-940-940, <b class="ks"></b>(097) 486-71-93, <b class="fax"></b>(04732) 6-03-19</span><br />
                    <span id="envelope"><a href="#">Заказать обратный звонок</a></span>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-sm-7">
                <div class="cart">
                    <!-- Virtuemart 2 Ajax Card -->
                    <div class="vmCartModule " id="vmCartModule">

                        <div class="total_products">Корзина пуста</div>
                        <div class="show_cart" rel="nofollow">
                        </div>
                        <div style="clear:both;"></div>

                        <noscript>
                            Пожалуйста, подождите</noscript>
                    </div>

                </div>
            </div>

        </div>

    </div>
</header>
<nav class="navbar navbar-static-top navbar-inverse navigation" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-nav">
                <span class="icon-text">меню</span>
                <span id="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse top-nav">
            <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3  col-sm-9 col-sm-offset-3">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle" href="/" data-toggle="dropdown" > Продукция <b class='caret'></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-toggle active"><a href="/stolyi-transformeryi.html" >Столы трансформеры</a></li>
                            <li><a href="/kuhonnyie-stolyi.html" >Кухонные столы</a></li>
                            <li><a href="/obedennyie-gruppyi.html" >Обеденные группы</a></li>
                            <li><a href="/zhurnalnyie-stolyi.html" >журнальные столы</a></li>
                            <li><a href="/stulya-dlya-kuhni.html" >Стулья для кухни</a></li>
                            <li><a href="/taburetyi-dlya-kuhni.html" >Табуреты для кухни</a>
                        </ul></li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/about.html" data-toggle="dropdown" > О нас  <b class='caret'></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-toggle"><a class="" href="/about/o-nas.html" > О нас  </a></li>
                            <li><a class="" href="/about/kak-zakazat.html" > Как заказать </a></li>
                            <li><a class="" href="/about/shops.html" > Магазины </a>
                        </ul></li>
                    <li class="dropdown"><a class="dropdown-toggle" href="/tsveta-materialov.html" data-toggle="dropdown" > Цвета материалов <b class='caret'></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-toggle"><a class="" href="/tsveta-materialov/obraztsy-iskusstvennogo-kamnya.html" > Искусственный камень </a></li>
                            <li><a class="" href="/tsveta-materialov/obraztsy-velyura-dlya-obivki-stulev-i-taburetov.html" > Велюр </a></li>
                            <li><a class="" href="/tsveta-materialov/obraztsy-shenila-dlya-obivki-stulev-i-taburetov.html" > Шенил </a></li>
                            <li><a class="" href="/tsveta-materialov/obraztsy-kozhzama-dlya-obivki-stulev-i-taburetov.html" > Кожзам </a></li>
                            <li><a class="" href="/tsveta-materialov/obraztsy-stekla.html" > Стекло </a></li>
                            <li><a class="" href="/tsveta-materialov/obraztsy-tonirovki-dereva.html" > Тонировка </a></li>
                            <li><a class="" href="/tsveta-materialov/obraztsy-poliuretanovykh-emalej-ral.html" > RAL </a></li>
                            <li><a class="" href="/tsveta-materialov/obraztsy-dsp-egger.html" > ДСП EGGER </a>
                        </ul></li>
                    <li><a class="" href="/dostavka-i-oplata.html" > Доставка и оплата </a></li>
                    <li><a class="" href="/kontakty.html" > Контакты </a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>
<!-- /.container -->
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs ">
    <aside>
        <div class="sidebar">
            <nav role="navigation">
                <div class="collapse navbar-collapse main-nav">
                    <div class="moduletable-left">
                        <h3>Продукция</h3>

                        <ul class="menu-left nav nav-pills nav-stacked " >
                            <li class="active">
                                <a href="/stolyi-transformeryi.html" >столы трансформеры</a></li>
                            <li >
                                <a href="/kuhonnyie-stolyi.html" >кухонные столы</a></li>
                            <li >
                                <a href="/obedennyie-gruppyi.html" >обеденные группы</a></li>
                            <li >
                                <a href="/zhurnalnyie-stolyi.html" >журнальные столы</a></li>
                            <li >
                                <a href="/stulya-dlya-kuhni.html" >стулья для кухни</a></li>
                            <li >
                                <a href="/taburetyi-dlya-kuhni.html" >табуреты для кухни</a></li>
                        </ul>
                    </div>
                    <div class="moduletable-left">
                        <h3>Случайное фото</h3>
                        <div class="random-image-left">
                            <a href="http://oleksenko.com.ua/fotogalereya/obedennye-gruppy.html">
                                <img src="/images/stories/gallery/gruppy/preview/233s159/obedennuj-komplekt-master-4.jpg" alt="obedennuj-komplekt-master-4.jpg"  /></a>
                            <p><a href="/fotogalereya.html">Перейти в фотогалерею</a></p>
                        </div>
                    </div>
                    <div class="moduletable-left">
                        <h3>Последние статьи</h3>
                        <ul class="latestnews-left">
                            <li>
                                <a href="/stati/chto-predstavlyaet-soboj-akrilovyj-iskusstvennyj-kamen.html">
                                    Что представляет собой акриловый искусственный камень</a>
                            </li>
                            <li>
                                <a href="/stati/dekorativnyj-sloistyj-plastik-resopal.html">
                                    Декоративный слоистый пластик RESOPAL</a>
                            </li>
                            <li>
                                <a href="/stati/nash-sajt-teper-adaptivnyj.html">
                                    Наш сайт теперь адаптивный</a>
                            </li>
                            <li>
                                <a href="/stati/istoriya-razvitiya-mebeli-iz-drevesiny.html">
                                    История развития мебели из древесины</a>
                            </li>
                            <li>
                                <a href="/stati/mebel-iz-mdf-pochemu-takaya-populyarnost.html">
                                    Мебель из МДФ. Почему такая популярность?</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
            <div class="end_sidebar"></div>
        </div>
    </aside>
</div>

<div class="col-lg-9 col-md-9 col-sm-9">
<div class="main-container">

<div class="moduletable">
    <div xmlns:v="http://rdf.data-vocabulary.org/">
        <ol class="breadcrumb">

            <li><span class="showHere">Вы здесь: </span></li><li typeof="v:Breadcrumb"><a href="/" class="pathway" rel="v:url" property="v:title">Главная</a></li><li class="active">Столы трансформеры</li></ol>
    </div>
</div>

<div class="browse-view">

<h1>столы трансформеры</h1>
<div class="wrap-prod">


<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Марсель" href="/stolyi-transformeryi/stol-transformer-marsel-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol_transformer_marsel_452x452.jpg" alt="stol_transformer_marsel" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_1" class="current-rating" style="width:66.67%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(1,1,30,9,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(1,2,30,9,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(1,3,30,9,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(1,4,30,9,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(1,5,30,9,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_1" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="3.33">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>9)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-marsel-kupit.html" >Стол трансформер Марсель</a>							</div>
                <div class="product-price marginbottom12" id="productPrice1">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">3150  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 90(180)*70*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>

<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Леон" href="/stolyi-transformeryi/stol-transformer-leon-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol-transformer-leon_452x452.jpg" alt="Стол трансформер Леон" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_3" class="current-rating" style="width:80.00%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(3,1,68,17,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(3,2,68,17,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(3,3,68,17,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(3,4,68,17,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(3,5,68,17,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_3" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="4">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>17)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-leon-kupit.html" >Стол трансформер Леон</a>							</div>
                <div class="product-price marginbottom12" id="productPrice3">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">3200  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 90(+180)*70*45(+75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>

<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Командор" href="/stolyi-transformeryi/stol-transformer-komandor-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol_transformer_komandor_452x452.jpg" alt="Стол трансформер Командор" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_4" class="current-rating" style="width:79.33%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(4,1,119,30,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(4,2,119,30,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(4,3,119,30,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(4,4,119,30,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(4,5,119,30,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_4" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="3.97">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>30)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-komandor-kupit.html" >Стол трансформер Командор</a>							</div>
                <div class="product-price marginbottom12" id="productPrice4">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">3300  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 90(180)*70*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>



<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Марсель (стекло)" href="/stolyi-transformeryi/stol-transformer-marsel-steklo-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol_transformer_marsel_steklo_452x452.jpg" alt="Стол трансформер Марсель (стекло)" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_2" class="current-rating" style="width:75.00%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(2,1,45,12,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(2,2,45,12,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(2,3,45,12,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(2,4,45,12,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(2,5,45,12,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_2" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="3.75">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>12)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-marsel-steklo-kupit.html" >Стол трансформер Марсель (стекло)</a>							</div>
                <div class="product-price marginbottom12" id="productPrice2">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">3650  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 90(180)*80*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>

<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Командор стекло" href="/stolyi-transformeryi/stol-transformer-komandor-steklo-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol_transformer_komandor_steklo_452x452.jpg" alt="Стол трансформер Командор (стекло)" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_7" class="current-rating" style="width:76.00%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(7,1,38,10,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(7,2,38,10,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(7,3,38,10,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(7,4,38,10,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(7,5,38,10,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_7" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="3.8">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>10)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-komandor-steklo-kupit.html" >Стол трансформер Командор стекло</a>							</div>
                <div class="product-price marginbottom12" id="productPrice7">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">3800  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 90(180)*70*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>

<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Оскар" href="/stolyi-transformeryi/stol-transformer-oskar-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol_transformer_oskar_452x452.jpg" alt="Стол трансформер Оскар" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_8" class="current-rating" style="width:76.19%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(8,1,80,21,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(8,2,80,21,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(8,3,80,21,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(8,4,80,21,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(8,5,80,21,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_8" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="3.81">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>21)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-oskar-kupit.html" >Стол трансформер Оскар</a>							</div>
                <div class="product-price marginbottom12" id="productPrice8">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">4000  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 85(170)*85*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>



<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Стоун" href="/stolyi-transformeryi/stol-transformer-stoun-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol_transformer_stoun_452x452.jpg" alt="Стол трансформер Стоун" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_9" class="current-rating" style="width:90.00%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(9,1,18,4,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(9,2,18,4,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(9,3,18,4,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(9,4,18,4,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(9,5,18,4,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_9" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="4.5">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>4)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-stoun-kupit.html" >Стол трансформер Стоун</a>							</div>
                <div class="product-price marginbottom12" id="productPrice9">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">3700  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 85(170)*85*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>

<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Стоун (стекло)" href="/stolyi-transformeryi/stol-transformer-stoun-steklo-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol_transformer_stoun_steklo_452x452.jpg" alt="Стол трансформер Стоун (стекло)" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_10" class="current-rating" style="width:86.67%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(10,1,26,6,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(10,2,26,6,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(10,3,26,6,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(10,4,26,6,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(10,5,26,6,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_10" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="4.33">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>6)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-stoun-steklo-kupit.html" >Стол трансформер Стоун (стекло)</a>							</div>
                <div class="product-price marginbottom12" id="productPrice10">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">4000  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 85(170)*85*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>

<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Оскар стекло" href="/stolyi-transformeryi/stol-transformer-oskar-steklo-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/stol_transformer_oskar_black_452x452.jpg" alt="Стол трансформер Оскар (стекло)" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_11" class="current-rating" style="width:76.67%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(11,1,69,18,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(11,2,69,18,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(11,3,69,18,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(11,4,69,18,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(11,5,69,18,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_11" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="3.83">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>18)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-oskar-steklo-kupit.html" >Стол трансформер Оскар стекло</a>							</div>
                <div class="product-price marginbottom12" id="productPrice11">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">4500  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 85(170)*85*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>



<div itemscope itemtype="http://schema.org/Product" class="product  width33">
    <div class="spacer">
        <div class="width100 floatleft center">
            <a  title="Стол трансформер Леон дерево" href="/stolyi-transformeryi/stol-transformer-leon-derevo-kupit.html" itemprop="url">
                <img src="/images/stories/virtuemart/product/resized/leon_derevo_1_452x452.jpg" alt="Стол трансформер Леон (дерево)" class="browseProductImage" itemprop="image" />						</a>
        </div>
        <div class="product-rating">
            <div class="vrvote-body">
                <ul class="vrvote-ul">
                    <li id="rating_12" class="current-rating" style="width:88.57%;"></li>
                    <li>
                        <a class="vr-one-star" onclick="javascript:JSVRvote(12,1,31,7,0)" href="javascript:void(null)">1</a>
                    </li>
                    <li>
                        <a class="vr-two-stars" onclick="javascript:JSVRvote(12,2,31,7,0)" href="javascript:void(null)">2</a>
                    </li>
                    <li>
                        <a class="vr-three-stars" onclick="javascript:JSVRvote(12,3,31,7,0)" href="javascript:void(null)">3</a>
                    </li>
                    <li>
                        <a class="vr-four-stars" onclick="javascript:JSVRvote(12,4,31,7,0)" href="javascript:void(null)">4</a>
                    </li>
                    <li>
                        <a class="vr-five-stars" onclick="javascript:JSVRvote(12,5,31,7,0)" href="javascript:void(null)">5</a>
                    </li>
                </ul>
            </div>
            <div id="vrvote_12" class="vrvote-count"><div class="aggregateRating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="4.43">
                <meta itemprop="bestRating" content="5">
                <span itemprop="ratingCount">(<i  class="voted"></i>7)</span>
            </div> </div>
        </div>
        <div class="width100 floatright">
            <div class="wrap_short_desc">
                <div class="product_title" itemprop="name">
                    <a href="/stolyi-transformeryi/stol-transformer-leon-derevo-kupit.html" >Стол трансформер Леон дерево</a>							</div>
                <div class="product-price marginbottom12" id="productPrice12">
                    <div class="PricesalesPrice" style="display : block;" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><span itemprop="price" class="PricesalesPrice" ><meta itemprop="priceCurrency" content="UAH">5350  грн</span><link itemprop="availability" href="http://schema.org/PreOrder"></div>							</div>
                <div itemprop="description"><p>Размер (д ш в): 90(180)*70*45(75)</p></div>
            </div>
        </div>
    </div>
    <!-- end of spacer -->
</div>

</div>
</div>
<div class="category_description">
    <p><em>В нашем интернет-магазине Вы можете купить столы трансформеры с доставкой по всей Украине.</em></p>
    <p><strong>Столы трансформеры</strong> – это наилучшее решение для таких помещений в доме как гостиная, небольшая кухня или столовая. Такой вариант позволяет экономить во всем, во-первых, Вы получаете два стола по цене одного, во-вторых – значительная экономия пространства в доме! В гостиной стол трансформер может служить Вам в основном как журнальный столик, украшая центральную часть комнаты, а на случай прихода гостей Вам не придется тесниться на маленькой кухоньке. Стол трансформер журнальный обеденный, позволит Вам легко усадить всех гостей за большим праздничным столом.</p>
    <p>Для маленьких кухонь данный стол является оригинальным, а главное – функциональным решением. Привычная для всех зона для приема пищи может выглядеть совсем по-новому и на много интересней. Небольшой угловой диванчик с <strong>журнальным столом трансформером</strong> создадут уютный уголок у Вас на кухне, а с помощью пары простых движений Вы всегда сможете получить большой кухонный стол, за которым с удобством разместится вся семья. Механизм раздвижения стола трансформера настолько простой и легкий, что с ним справится любая хозяйка без посторонней помощи. Трансформация столов ЧП Олексенко осуществляется за счет специальных раздвижных механизмов Украинского производства, что делает столы более дешевыми и доступными для покупателей.</p>
    <p>Все <strong>столы трансформеры</strong> ЧП Олексенко – собственного производства, что свидетельствует о высоком качестве продукции и гарантии долгой службы. Современное оборудование, лучшие специалисты, а также качественные материалы позволяют незамедлительно реагировать на любые изменения в мебельной моде.</p>
</div>
</div>

</div>
</div>



</div>
</div>
<div class="container row col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <footer>	<ul class="menu_bottom">
        <li><a class="" href="/stati.html" > Статьи </a></li>
        <li class="dropdown"><a class="" href="/fotogalereya.html" > Фотогалерея <b class='caret'></b></a>
            <ul class="dropdown-menu">
                <li><a class="" href="/fotogalereya/stoly-transformery.html" > Столы-трансформеры </a></li>
                <li><a class="" href="/fotogalereya/kuhonnyie-stolyi.html" > Кухонные столы </a></li>
                <li><a class="" href="/fotogalereya/obedennye-gruppy.html" > Обеденные группы </a></li>
                <li><a class="" href="/fotogalereya/stulya-dlya-kukhni.html" > Стулья для кухни </a></li>
                <li><a class="" href="/fotogalereya/taburety-dlya-kukhni.html" > Табуреты для кухни </a>
            </ul></li>
    </ul>

        <p><a href="/">Интернет-магазин столов и стульев</a> ©2008-2014 </p>
        <p>Копирование материалов разрешено только с публикацией активной прямой и индексируемой ссылки на сайт</p>
        <p> <!--noindex--><!--LiveInternet counter--><script type="text/javascript"><!--
        document.write("<a href='http://www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t42.1;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet' "+
                "border='0' width='31' height='31'><\/a>")
        //--></script><!--/LiveInternet--><!--/noindex--></p>
        <div id="overlay"></div>
        <div class="form_box">
            <a id="boxclose"></a>
            <form id="form" class="rf" action="#">

                <label for="user_name">Ваше имя:</label>
                <input type="text" class="rfield" id="user_name" name="user_name" />

                <label for="user_phone">Ваш телефон:</label>
                <input type="text" class="rfield" id="user_phone" name="user_phone"/>

                <input type="submit" class="btn_submit disabled" value="Жду звонка" />

            </form>
            <div id="cmb_msg"></div>
        </div>

    </footer>

</div>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/972241766/?value=0&amp;label=5PpMCIKYiwgQ5vbMzwM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>


<noscript><div><img src="//mc.yandex.ru/watch/24112606" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>